<<<<<<< HEAD
.Ucontent h2{
=======
.Ucontent h2 {
>>>>>>> c433064 (Initial commit)
    font-weight: 500;
    line-height: 50px;
    color: blueviolet;
}
<<<<<<< HEAD
.Ucontent h4{
=======

.Ucontent h4 {
>>>>>>> c433064 (Initial commit)
    font-weight: 500;
    line-height: 25px;
    color: rgb(148, 105, 187);
}
<<<<<<< HEAD
.search input{
=======

.search input {
>>>>>>> c433064 (Initial commit)
    outline: none;
    border: 2px solid violet;
    padding: 7px 10px;
    border-radius: 50px;

}
<<<<<<< HEAD
.search button{
    width: 65px;
    border: 2px solid violet;
    padding: 7px 10px ;
=======

.search button {
    width: 65px;
    border: 2px solid violet;
    padding: 7px 10px;
>>>>>>> c433064 (Initial commit)
    /*margin: 10px;*/
    color: rgb(204, 105, 204);
    border-radius: 50px;

<<<<<<< HEAD
    

}
.search{
=======


}

.search {
>>>>>>> c433064 (Initial commit)
    width: 30%;
    border: 1px solid violet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
<<<<<<< HEAD
    
}
.Ucontent p{
=======

}

.Ucontent p {
>>>>>>> c433064 (Initial commit)
    font-weight: 500;
    line-height: 25px;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(189, 143, 233);

}
<<<<<<< HEAD

=======
.results2 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
.results2 li{
    padding: 5px 0;
}

.results2 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
.results2 li{
    padding: 5px 0;
}
>>>>>>> c433064 (Initial commit)
